body {
    background-color: #f1faee;
    margin: 0;
}
.page {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1ch;
}
.question {
    width: 80%;
}
.option {
    width: 80%;
}
.choices {

}
.image  {
    height: auto;
    width: 35rem;
}
.image img{
    height: auto;
    max-width: 100%;
}
.indicator {
    width: 500px;
    height: 8px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,62,181,1) 35%, rgba(0,212,255,1) 100%);
}
#opt1,#opt2,#opt3,#opt4 {
    width: fit-content;
}
.set {
    display: flex;
    background-color: grey;
    margin: 10px;
}