:root {
  /* light theme */
  --bg-light: #f4f6f5;
  --indicator-light: #e2e3e4;
  --progress-left-light: #1b65b5;
  --progress-right-light: #7aace1;
  --options-light: #e2e3e4;
  --primary-light: #474545;

  /*dark theme*/
  --bg-dark: #222222;
  --indicator-dark: #313131;
  --progress-left-dark: #bc089f;
  --progress-right-dark: #f37dfe2a;
  --options-dark: #353535;
  --primary-dark: rgb(227, 227, 227);
  /*default theme*/
  --bg: var(--bg-light);
  --indicator: var(--indicator-light);
  --progress-left: var(--progress-left-light);
  --progress-right: var(--progress-right-light);
  --options: var(--options-light);
  --primary: var(--primary-light);

  --hundred: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  overflow: hidden;
}
.page {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2ch;
}
.imagetwo {
  display: none;
}
.indicator {
  height: 10px;
  width: 80%;
  background-color: var(--indicator);
  border-radius: 5px;
  margin: min(10px, 3vh) 0 0 0;
  overflow: hidden;
}
.indicator_progress {
  width: 0%;
  background-image: linear-gradient(
    to right,
    var(--progress-left),
    var(--progress-right) 70%
  );
  height: 100%;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.image {
  height: fit-content;
  max-width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: auto;
  max-width: 100%;
}
.q_a {
  margin: min(50px, 3vh);
  width: 100%;
}
.question_space {
  margin: 0 0 min(5px, 5vh) 0;
}
.question {
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 20%;
}
.options_space {
  width: 100%;
  display: flex;
  gap: 0.8ch;
  flex-direction: column;
}
.options {
  display: flex;
  user-select: none;
  padding: 10px;
  background-color: var(--options);
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  font-size: 0.9rem;
  transition: all 0.05s ease-in-out;
  font-weight: 400;
}
.checkbox {
  border: 2px solid var(--primary);
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: var(--bg);
  border-radius: 2px;
}
.options:hover {
  box-shadow: 0px 1px 4px 0px #5a5a5a;

  transform: translateY(1px);
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .imageone {
    display: none;
  }
  .imagetwo {
    display: block;
  }
  .options:hover {
    transform: none;
  }
}
.tick {
  background: url(./images/tick.svg) no-repeat center;
  background-color: var(--bg);
}
.lotti {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
.displayContainer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winningPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  z-index: -1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --indicator: var(--indicator-dark);
    --progress-left: var(--progress-left-dark);
    --progress-right: var(--progress-right-dark);
    --options: var(--options-dark);
    --primary: var(--primary-dark);
  }
  .tick {
    background: url(./images/tick2.svg) no-repeat center;
    background-color: var(--bg);
  }
}
